*.bin
*.elf
*.asm
*.o
*.d
*.orig
*.swp
*/mkromfs/mkromfs
*/msggen/msggen
*/type_size/type_size
*/rtplot/build/
*/rtplot/src/rtplot.egg-info/
*/gazebo_bridge/gazebo_bridge
include/kernel/syscall.h
build/
html/
latex/
