CONFIG_PLATFORM_STM32F429DISC=y
CONFIG_DIRECTFB2=y
CONFIG_DIRECTFB2_GEARS=y
CONFIG_DIRECTFB2_WINDOW=y
CONFIG_DIRECTFB2_FIRE=y
CONFIG_DIRECTFB2_PALETTE=y
CONFIG_DIRECTFB2_PARTICLE=y
CONFIG_DIRECTFB2_MATRIX=y
CONFIG_DIRECTFB2_VKCOLOR=y
